@import "../../styles/mixins.scss";
@import "../../styles/colors.scss";

.page {
  display: flex;
  min-height: 100vh;
  width: 100%;

  &__main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-block: 133px 122px;
    padding-left: 80px;
    width: 73.85%;
    background-color: $primary-game-bg;

    @include onLargeDesktop {
      padding-block: 200px 184px;
      padding-left: 120px;
    }

    @include onTablet {
      padding-block: 88px 80px;
      padding-left: 54px;
    }

    @include onPhone {
      padding: 16px 16px 24px;
      width: 100%;
    }
  }

  &__question {
    width: 72%;
    text-align: left;
    font-size: 32px;
    font-weight: 600;
    line-height: 37px;

    @include onLargeDesktop {
      font-size: 48px;
      line-height: 56px;
    }

    @include onTablet {
      font-size: 24px;
      line-height: 28px;
    }

    @include onPhone {
      width: 100%;
      text-align: center;
      font-size: 18px;
      line-height: 21px;
    }
  }

  &__options {
    display: grid;
    grid-template-columns: repeat(2, 42%);
    row-gap: 32px;
    column-gap: 34px;
    margin-left: 17px;

    @include onPhone {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: 0;
    }
  }

  &__button {
    display: none;
    width: 24px;
    height: 24px;
    background-color: transparent;
    border: none;

    @include onPhone {
      display: flex;
      align-self: end;
    }

    &--close {
      margin-bottom: 24px;
    }
  }

  &__menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 26.1%;

    @include onPhone {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      padding: 16px 16px 32px;
      width: 100%;
      min-height: 100vh;
      background-color: $primary-game-bg;
    }

    &--visible {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}
