@import '../../styles/mixins.scss';
@import '../../styles/colors.scss';

.button {
  position: relative;
  display: flex;
  align-items: center;
  padding-inline: 8.31%;
  aspect-ratio: 5.18 / 1;

  background-image: url("../../styles/img/desktop/option-basic.png");
  background-color: transparent;
  background-size: cover;

  @include onPhone {
    width: 288px;
    height: 56px;
    background-image: url("../../styles/img/mobile/option-basic.png");
  }

  &::before, &::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 17px;
    height: 1px;
    transform: translateY(-50%);
    background-color: $primary-inactive;
  }

  &::before {
    left: -17px;
  }

  &::after {
    right: -17px;
  }

  &--correct {
    background-image: url("../../styles/img/desktop/option-correct.png");

    @include onPhone {
      background-image: url("../../styles/img/mobile/option-correct.png");
    }

    &::before, &::after {
      background-color: $text-correct;
    }
  }

  &--wrong {
    background-image: url("../../styles/img/desktop/option-wrong.png");

    @include onPhone {
      background-image: url("../../styles/img/mobile/option-wrong.png");
    }

    &::before, &::after {
      background-color: $text-wrong;
    }
  }

  &--disabled {
    cursor: initial;
  }

  &__text {
    font-size: 20px;
    line-height: 23px;

    @include onLargeDesktop {
      font-size: 40px;
      line-height: 46px;
    }

    @include onTablet {
      font-size: 14px;
      line-height: 16px;
    }

    @include onPhone {
      font-size: 14px;
      line-height: 16px;
    }

    &--option {
      font-weight: 600;
      color: $primary-hover;
    }

    &--answer {
      margin-left: 8px;
      font-weight: 400;
      color: $primary-text;

      @include onLargeDesktop {
        margin-left: 20px;
      }

      &--long {
        @include onTablet {
          font-size: 12px;
        }
      }
    }
  }

  &:hover:not(.button--disabled) {
    background-image: url("../../styles/img/desktop/option-hover.png");

    &::before, &::after {
      background-color: $primary-btn;
    }
  }

  &:active {
    background-image: url("../../styles/img/desktop/option-selected.png");

    @include onPhone {
      background-image: url("../../styles/img/mobile/option-selected.png");
    }

    &::before, &::after {
      background-color: $text-selected;
    }
  }
}
