@import '../../utils/mixins.scss';
@import '../../utils/colors.scss';

.money-button {
  box-sizing: border-box;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 63.83%;
  aspect-ratio: 5.9 / 1;

  background-image: url("../../../public/img/desktop/money-basic.png");
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: contain;
  cursor: initial;

  @include onPhone {
    aspect-ratio: 7.4 / 1;
    background-image: url("../../../public/img/mobile/money-basic.png");
  }

  &::before, &::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 28.75%;
    height: 1px;
    transform: translateY(-50%);
    background-color: $medium-grey;
  }
  
  &::before {
    left: -28.75%;
  }

  &::after {
    right: -28.75%;
  }
  
  &--current {
    background-image: url("../../../public/img/desktop/money-current.png");

    @include onPhone {
      background-image: url("../../../public/img/mobile/money-current.png");
    }

    &::before, &::after {
      background-color: $color-blue;
    }
  }

  &__text {
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    color: $color-black;

    @include onLargeDesktop {
      font-size: 32px;
      line-height: 37px;
    }

    @include onTablet {
      font-size: 14px;
      line-height: 16px;
    }

    @include onPhone {
      font-size: 14px;
      line-height: 16px;
    }

    &--current {
      color: $light-red;

      @include onPhone {
        color: $medium-blue;
      }
    }

    &--finished {
      color: $medium-grey;
    }
  }
}
