$primary-black: #1C1C21;
$primary-inactive: #D0D0D8;
$primary-game-bg: #F5F5F7;
$primary-white: #FFFFFF;
$primary-btn-active: #003B63;
$primary-hover: #004974;
$primary-btn: #1E6A8E;
$primary-text: #3891B1;
$text-correct: #47D867;
$text-selected: #FF8B37;
$text-wrong: #EC6259;
$secondary-btn-text: #FDEEED;
