@import '../../utils/colors.scss';
@import '../../utils/mixins.scss';

.main-page {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 32px;
  padding: 80px;
  min-height: 100vh;
  background-color: $primary-white;

  @include onLargeDesktop {
    padding: 120px;
    gap: 38px;
  }

  @include onTablet {
    gap: 24px;
    padding: 48px;
  }

  @include onPhone {
    display: flex;
    flex-direction: column;
    gap: 0;
    padding: 80px 16px 48px;
  }

  &--start {
    background: linear-gradient(to bottom right, $primary-white 50%, rgba($primary-hover, 5%) 50%);

    @include onPhone {
      background: linear-gradient(to bottom right, $primary-white 50%, #FFF3EB 50%);
    }
  }

  &__langs {
    position: fixed;
    top: 16px;
    right: 16px;
    display: flex;
    gap: 16px;
  }

  &__lang {
    font-size: 20px;

    color: $primary-btn;
    background-color: transparent;

    &--selected {
      color: $primary-btn-active;
      font-weight: 600;
    }

    &:hover {
      color: $primary-text;
    }
  }

  &__hand {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__image {
    width: 72.3%;
    aspect-ratio: 1.27 / 1;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 64px;

    @include onLargeDesktop {
      gap: 96px;
    }

    @include onTablet {
      gap: 44px;
    }

    @include onPhone {
      flex-grow: 1;
      justify-content: space-between;
      margin-top: 24px;
      width: auto;
    }

    &--finish {
      @include onPhone {
        margin-top: 32px;
      }
    }
  }

  &__text {
    text-align: left;
    font-size: 56px;
    font-weight: 600;
    line-height: 65px;
    color: $primary-black;

    @include onLargeDesktop {
      font-size: 84px;
      line-height: 97px;
    }

    @include onTablet {
      font-size: 48px;
      line-height: 55px;
    }

    @include onPhone {
      text-align: center;
      font-size: 32px;
      line-height: 37px;
    }

    &--top {
      opacity: 50%;
      font-size: 32px;
      line-height: 37px;
      margin-bottom: 8px;

      @include onLargeDesktop {
        font-size: 48px;
        line-height: 56px;
      }

      @include onTablet {
        font-size: 28px;
        line-height: 32px;
      }

      @include onPhone {
        font-size: 18px;
        line-height: 20px;
      }
    }
  }

  &__button {
    width: 296px;
    height: 64px;
    border-radius: 12px;
    border-color: transparent;

    font-size: 20px;
    font-weight: 600;
    color: $primary-white;
    background-color: $primary-btn;

    @include onLargeDesktop {
      width: 444px;
      height: 96px;
      font-size: 30px;
    }

    @include onTablet {
      width: 198px;
      height: 44px;
      font-size: 14px;
    }

    @include onPhone {
      width: 100%;
      height: 48px;

      font-size: 14px;
    }

    &:hover {
      background-color: $primary-text;
    }

    &:active {
      background-color: $primary-btn-active;
    }
  }
}
