$color-black: #1C1C21;
$medium-grey: #D0D0D8;
$light-grey: #F5F5F7;
$color-white: #FFFFFF;
$dark-blue: #003B63;
$medium-dark-blue: #004974;
$medium-blue: #1E6A8E;
$color-blue: #3891B1;
$bright-green: #47D867;
$bright-orange: #FF8B37;
$bright-red: #EC6259;
$light-red: #FDEEED;
