* {
  box-sizing: border-box;
  transition: all 0.3s;
}

body {
  margin: 0;
  font-family: 'Inter', 'Helvetica', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  cursor: pointer;
}
